.wrap {
	width:760px;
	padding:0 10px;
}

.Tcol1, .Tcol2, .Tcol3, .Tcol4, .Tcol5, .Tcol6, .Tcol7, .Tcol8, .Tcol9, .Tcol10, .Tcol11, .Tcol12 {
	float: left;
	margin-right:2.7118644%;
}

.Tcol1 { width: 5.8474576%; }
.Tcol2 { width: 14.4067796%; }
.Tcol3 { width: 22.9661016%; }
.Tcol4 { width: 31.5254236%; }
.Tcol5 { width: 40.0847456%; }
.Tcol6 { width: 48.6440676%; }
.Tcol7 { width: 57.2033896%; }
.Tcol8 { width: 65.7627116%; }
.Tcol9 { width: 74.3220336%; }
.Tcol10 { width: 82.8813556%; }
.Tcol11 { width: 91.4406776%; }
.Tcol12 { width: 99.9999996%; margin-right: 0; }

.Tpush0 {margin-left:0%;}
.Tpush1 {margin-left:8.559322%;}
.Tpush2 {margin-left:17.118644%;}
.Tpush3 {margin-left:25.677966%;}
.Tpush4 {margin-left:34.237288%;}
.Tpush5 {margin-left:42.79661%;}
.Tpush6 {margin-left:51.355932%;}
.Tpush7 {margin-left:59.915254%;}
.Tpush8 {margin-left:68.474576%;}
.Tpush9 {margin-left:77.033898%;}
.Tpush10 {margin-left:85.59322%;}
.Tpush11 {margin-left:94.152542%;}

.Tpull0 {margin-right:0%;}
.Tpull1 {margin-right:8.559322%;}
.Tpull2 {margin-right:17.118644%;}
.Tpull3 {margin-right:25.677966%;}
.Tpull4 {margin-right:34.237288%;}
.Tpull5 {margin-right:42.79661%;}
.Tpull6 {margin-right:51.355932%;}
.Tpull7 {margin-right:59.915254%;}
.Tpull8 {margin-right:68.474576%;}
.Tpull9 {margin-right:77.033898%;}
.Tpull10 {margin-right:85.59322%;}
.Tpull11 {margin-right:94.152542%;}

.Tlast {
	margin-right: 0;
}


.Tcol1 img, .Tcol2 img, .Tcol3 img, .Tcol4 img, .Tcol5 img, .Tcol6 img, .Tcol7 img, .Tcol8 img, .Tcol9 img, .Tcol10 img, .Tcol11 img, .Tcol12 img {
	width: 100%;
	height: auto;
	display: block;
}

/* Common*/

/* Hide screen before viewport scale done */
body { min-width:760px;  }


.mobileMenuBtn {display:block;}
.mainMenu {display:none;}
.test { height:500px;}
