
/* `Grid
----------------------------------------------------------------------------------------------------*/

.wrap {
	min-width:320px;
	max-width:100%;
	padding:0 10px;
}

.Mcol1, .Mcol2, .Mcol3, .Mcol4, .Mcol5, .Mcol6, .Mcol7, .Mcol8, .Mcol9, .Mcol10, .Mcol11, .Mcol12 {
	float: left;
	margin-right:2.7118644%;
}

.Mcol1 { width: 5.8474576%; }
.Mcol2 { width: 14.4067796%; }
.Mcol3 { width: 22.9661016%; }
.Mcol4 { width: 31.5254236%; }
.Mcol5 { width: 40.0847456%; }
.Mcol6 { width: 48.6440676%; }
.Mcol7 { width: 57.2033896%; }
.Mcol8 { width: 65.7627116%; }
.Mcol9 { width: 74.3220336%; }
.Mcol10 { width: 82.8813556%; }
.Mcol11 { width: 91.4406776%; }
.Mcol12 { width: 100%; margin-right: 0; }

.Mlast {
	margin-right: 0;
}

.Mpush0 {margin-left:0%;}
.Mpush1 {margin-left:8.559322%;}
.Mpush2 {margin-left:17.118644%;}
.Mpush3 {margin-left:25.677966%;}
.Mpush4 {margin-left:34.237288%;}
.Mpush5 {margin-left:42.79661%;}
.Mpush6 {margin-left:51.355932%;}
.Mpush7 {margin-left:59.915254%;}
.Mpush8 {margin-left:68.474576%;}
.Mpush9 {margin-left:77.033898%;}
.Mpush10 {margin-left:85.59322%;}
.Mpush11 {margin-left:94.152542%;}

.Mpull0 {margin-right:0%;}
.Mpull1 {margin-right:8.559322%;}
.Mpull2 {margin-right:17.118644%;}
.Mpull3 {margin-right:25.677966%;}
.Mpull4 {margin-right:34.237288%;}
.Mpull5 {margin-right:42.79661%;}
.Mpull6 {margin-right:51.355932%;}
.Mpull7 {margin-right:59.915254%;}
.Mpull8 {margin-right:68.474576%;}
.Mpull9 {margin-right:77.033898%;}
.Mpull10 {margin-right:85.59322%;}
.Mpull11 {margin-right:94.152542%;}

.Mcol1 img, .Mcol2 img, .Mcol3 img, .Mcol4 img, .Mcol5 img, .Mcol6 img, .Mcol7 img, .Mcol8 img, .Mcol9 img, .Mcol10 img, .Mcol11 img, .Mcol12 img {
	width: 100%;
	height: auto;
	display: block;
}


/* Common
----------------------------------------------------------------------------------------------------*/

/* Hide screen before viewport scale done */
body {min-width:320px;  }

.mobileMenuBtn {display:block;}
.mainMenu {display:none;}
.test { height:300px;}
