.mobileBox {background-color:grey;}


/*-------------------------------slider---------------------------------------*/
#mainSlider a { height:200px; }
.controls .prevBtn, .controls .nextBtn {  bottom:60px; font-size:70px;}
/*-------------------------------slider---------------------------------------*/
